body{
    user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    font-size: .92rem !important;
}


#container-nb{
    width: 80%;
    margin: 10px auto;
    position: relative;
    top: 50px;
}

#container-nb-form{
    border:1px solid #6c757d;
    border-radius: 0.33rem;
}

#menu-btns .btn {
    padding: 14px 3px !important;
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-size: 10px;
    margin-right: 2px;
}

input[type=checkbox]{
}


.active {
    background-color: #007bff;
}

#hours{
    color: 	#CC9933;
}

#menu-btns .btn:hover {
    background-color: #6c757d;
    border-color: #6c757d;
}

.form-check{
    padding: 0.15rem !important;
}

.badge-secondary{
    background-color: #a7b1b9 !important;
}

#selectAllA{
    color:#189ad3;
    text-decoration: none;
    cursor: pointer;
}

#message {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}
#inner-message {
    margin: 0 auto;
}

#menu-btns .btn:first-child{
    /*border-radius: 0 !important;*/
    border-bottom-left-radius: 0 !important;
}
#menu-btns .btn:last-child{
    /*border-radius: 0 !important;*/
    border-bottom-right-radius: 0 !important;
}

#menu-btns .btn.active{
    background-color: #428bca !important;
    border-color: #428bca !important;
}

#continueBtn[disabled]{
    border: 1px solid #999999;
    background-color: #cccccc;
    color: #666666;
}

#continue:focus{
    outline: 0;
}

#menu-btns .btn{

}

#menu-btns .btn:last-child{
    margin-right: 0 !important;
}

#menu-btns{
    background-color: #545454;
    border-radius: .33rem;
}


@media (min-width: 375px){
    #menuBar .btn-group button{
        padding: 14px 5px !important;
        font-size: 11px;
    }
}

@media (min-width: 425px){
    #menuBar .btn-group button{
        padding: 14px 7px !important;
        font-size: 12px;
    }
    body{
        font-size: 1rem !important;
    }
}

@media (min-width: 450px) {
    #menuBar .btn-group button:hover {
        background-color: #5a6268;
        border-color: #5a6268;
    }
}

/* sm */
@media (min-width: 544px) {
    #menuBar .btn-group button{
        padding: 14px 8px !important;
        font-size: 14px;
    }
}

/* md */
@media (min-width: 768px) {
}

/* lg) */
@media (min-width: 992px) {
}

/* xl */
@media (min-width: 1200px) {
}

