
#container-nb{
    width: 80%;
    font-family: Helvetica, Sans-Serif;
    margin: 10px auto;
    position: relative;
    top: 50px;
}

#container-nb-form{
    border:1px solid #000000;
    border-radius: 10px;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #444444;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

li {
    float: left;
}

li a {
    display: inline-block;
    color: white !important;
    text-align: center;
    padding: 14px 3px;
    text-decoration: none;
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-size: 10px;
    border-right: 1px solid gray;

}

input[type=checkbox]{
}


.active {
    background-color: #007bff;
}



#hours{
    color: 	#CC9933;
}

li a:hover {
    background-color: #007bff;
}

.form-check{
    padding: 0.15rem !important;
}

.badge-secondary{
    background-color: #a7b1b9 !important;
}

#selectAllA{
    color:#189ad3;
    text-decoration: none;
    cursor: pointer;
}

#message {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}
#inner-message {
    margin: 0 auto;
}

@media (min-width: 375px){
    li a{
        padding: 14px 6px;
        font-size: 11px;
    }
}

@media (min-width: 425px){
    li a{
        padding: 14px 8px;
        font-size: 12px;
    }
}

@media (min-width: 450px) {
    li a:hover {
        background-color: #898887;
    }
}

/* sm */
@media (min-width: 544px) {
}

/* md */
@media (min-width: 768px) {
}

/* lg) */
@media (min-width: 992px) {
}

/* xl */
@media (min-width: 1200px) {
}

