table, th, td {
    border: 1px solid #C0B8B8;
    border-collapse: collapse;

}
th, td {
    width: 7.68% !important;
    height: 14.28% !important;
    padding: 3px;
    text-align: center;
}
th{
    background: #deedf7;
}
.day {
    color: #990000;
}

