/*body{*/
    /*align-items: center;*/
    /*width: 900px;*/
/*}*/

/*form{*/
    /*border: 1px ;*/
/*}*/

table, th, td {
    border: 1px solid #C0B8B8;
    border-collapse: collapse;

}
th, td {
    padding: 3px;
    text-align: center;
}
th{
    background: #deedf7;
}
.day{
    color: #990000;
}

