table, th, td {
    border: 1px solid #C0B8B8;
    border-collapse: collapse;

}
th, td {
    width: 7.68% !important;
    height: 14.28% !important;
    padding: 3px;
    text-align: center;
    /*background-color: #6ac;*/
}
th{
    background: #deedf7;
}
.day {
    color: #990000;
}

/*.button-group .btn{*/

/*    border-radius: 0 !important;*/
/*}*/

.btn-no-r{
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
    /*border-radius: 0 !important;*/

}

.btn:focus {
    outline: none !important;
    box-shadow: none !important;
}

.btn:disabled{
    opacity: 1;
}

#page-container {
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  padding-bottom: 2.5rem;    /* Footer height */
}

#main-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;            /* Footer height */
}
