<!doctype html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static "bootstrap.css" %}">
    <link rel="stylesheet" href="{% static "department.css" %}">
    <title>SSP Scheduler</title>
</head>
<body>
<nav class="navbar navbar-expand-md navbar-dark bg-black">
    <div class="container">
        <a href="/" class="navbar-brand">SSPScheduler</a>
    </div>
</nav>


<section id="welcome_section" class="bg-dark text-white text-center p-4 mb-4">
    <div class="container">
        <h1 style="font-size: 2rem;">Welcome To SSP Scheduler</h1>
        <h4 style="font-size: 1rem">Get your preferred schedules by one click</h4>
    </div>
</section>

{#cards section#}
<div class="container">
    <div class="row mb-3">
        <div class="col-md-12">
            <form method="post" action="courses/">
                {% csrf_token %}
                <div class="card">
                    <button class="btn btn-outline-dark text-center" type="submit" name="department" value="CCE">
                        <div class="card-body">
                            <h2 class="card-title">CCE</h2>
                            <p class="card-subtitle">Computer and Communication Engineering</p>
                        </div>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-md-6">
            <form method="post" action="courses/">
                {% csrf_token %}
                <div class="card">
                    <button class="btn btn-outline-dark text-center" type="submit" name="department" value="EME" disabled>
                        <div class="card-body">
                            <h2 class="card-title">EME</h2>
                            <p class="card-subtitle">Electromechanical Engineering</p>
                        </div>
                    </button>
                </div>
            </form>
        </div>
        <div class="col-md-6">
            <form method="post" action="courses/">
                {% csrf_token %}
                <div class="card">
                    <button class="btn btn-outline-dark text-center" type="submit" name="department" value="OCE" disabled>
                        <div class="card-body">
                            <h2 class="card-title">OCE</h2>
                            <p class="card-subtitle">Offshore and Coastal Engineering</p>
                        </div>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-md-6">
            <form method="post" action="courses/">
                {% csrf_token %}
                <div class="card">
                    <button class="btn btn-outline-dark text-center" type="submit" name="department" value="GPE" disabled>
                        <div class="card-body">
                            <h2 class="card-title">GPE</h2>
                            <p class="card-subtitle">Gas and Petrochemicals Engineering</p>
                        </div>
                    </button>
                </div>
            </form>
        </div>
        <div class="col-md-6">
            <form method="post" action="courses/">
                {% csrf_token %}
                <div class="card">
                    <button class="btn btn-outline-dark text-center" type="submit" name="department" value="General" disabled>
                        <div class="card-body">
                            <h2 class="card-title">General</h2>
                            <p class="card-subtitle">General</p>
                        </div>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>


<script src="https://code.jquery.com/jquery-3.4.1.min.js"
         integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
         crossorigin="anonymous"></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
         integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
         crossorigin="anonymous"></script>
 <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
         integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
         crossorigin="anonymous"></script>
</body>
</html>
