<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SSP Scheduler</title>
    <link rel="stylesheet" href="{% static "index.css" %}">
    <link rel="stylesheet" href="{% static "bootstrap.css" %}">
    <link rel="stylesheet" href="{% static "department.css" %}">

    <script type="text/javascript" src="{% static "jquery.js" %}"></script>

</head>
<body>
<nav class="navbar navbar-expand-md navbar-dark bg-black">
    <div class="container">
        <a href="/" class="navbar-brand">SSPScheduler</a>
    </div>
</nav>

<section id="choose_courses_section" class="bg-dark text-white text-center p-4">
    <div class="container">
        <h1>Choose Your Courses</h1>
        <h6>12 CH is minimum credit hours</h6>
    </div>
</section>

    <div id="container-nb">
        <p id="crHours" style="margin: 20px 10px;padding: 0;text-align: right;">Credit Hours : <span id="hours">0</span></p>
        <div id="container-nb-form">
            <div id="menuBar">
                <ul>
                    {% for term_num in term_numbers %}
                        {% if term_num == 1 %}
                            <li><a id="1st" data-term="1">1st Term</a></li>
                        {% elif term_num == 2 %}
                            <li><a id="2nd" data-term="2">2nd Term</a></li>
                        {% elif term_num == 3 %}
                            <li><a id="3rd" data-term="3">3rd Term</a></li>
                        {% elif term_num == 4 %}
                            <li><a id="4th" data-term="4">4th Term</a></li>
                        {% elif term_num == 5 %}
                            <li><a id="5th" data-term="5">5th Term</a></li>
                        {% elif term_num == 6 %}
                            <li><a id="6th" data-term="6">6th Term</a></li>
                        {% elif term_num == 7 %}
                            <li><a id="7th" data-term="7">7th Term</a></li>
                        {% elif term_num == 8 %}
                            <li><a id="8th" data-term="8">8th Term</a></li>
                        {% elif term_num == 9 %}
                            <li><a id="9th" data-term="9">9th Term</a></li>
                        {% elif term_num == 10 %}
                            <li><a id="10th" data-term="10">10th Term</a></li>
                        {% elif term_num == 11 %}
                            <li><a id="11th" data-term="11">Humanities</a></li>
                        {% endif %}
                    {% endfor %}

                </ul>
            </div>

            <form action="/schedule/" method="post" >
                {% csrf_token %}
                    <label for="hoursIn" style="display: none" style="display: none;"></label>
                    <input type="number" name="hoursTaken" value="0" id="hoursIn" style="display: none" >
                <div id="options" class="form-group">
                    <input type="button" id="selectAllBtn" class="btn btn-secondary" value="Select All">
                </div   >
            </form>
        </div>
    </div>
    <script>
        $("li>a").mousedown(function () {
            return false;
        });

        let options = $('#options');

         {% for course in courses %}
             options.append("<div class=\"form-check\" data-term=\""+ "{{ course.term }}"+"\">\n" +
                 "                <input data-crh=\""+ "{{ course.creditHours }}" +"\" name=\""+ "{{ course.name }}" +"\" class=\"form-check-input position-static\" type=\"checkbox\" id=\"" + "{{ course.name }}" + "\">\n" +
                 "                <label class=\"form-check-label\" for=\"" + "{{ course.name }}" + "\">" + "{{ course.name }}"+" ("+"{{ course.creditHours }}" +")"+ "</label>\n" +
                 "            </div>");
         {% endfor %}



        options.append("<button id=\"continueBtn\" type=\"submit\" class=\"btn btn-primary\" name=\"submit\" value=\"selection\" disabled>Continue</button>");
        options.children("div").hide();
        $("#selectAllBtn").hide();
        $("#continueBtn").hide();



        $("li>a").click(function () {
            let termNum = $(this).attr("data-term");
            $("li>a").removeClass("active");
            $(this).addClass("active");
            let options = $('#options');
            options.children("div").hide();
            options.children("div[data-term='"+termNum+"']").show();
            if(options.children("div[data-term='"+termNum+"']").length > 0){
                $("#selectAllBtn").show();
                $("#continueBtn").show();
            }else{
                $("#selectAllBtn").hide();
                $("#continueBtn").hide();
            }
        });



        $("#selectAllBtn").click(function () {
            $("#options").children("div:visible").children("input:not(:checked)").click();
        });



        $("input:checkbox").change(function () {
            let courseHours = parseInt($(this).attr("data-crh"));
            let currentValue = parseInt($("#hours").html());
            let newValue;
            if(this.checked){
                newValue = parseInt($("#hours").html())+parseInt($(this).attr("data-crh"));
               if(newValue <= 21 ){
                   $("#hours").html(newValue);
                   if(newValue >= 12){
                       $("#continueBtn").prop('disabled', false);
                   }


               }else {
                   $(this).prop('checked', false);
                   alert("You can't have more than 21 credit hours")
                   return
               }
            }
            else{
                newValue = parseInt($("#hours").html())-parseInt($(this).attr("data-crh"));
                if(newValue < 12){
                    $("#continueBtn").prop('disabled', true);
                }
                $("#hours").html(parseInt($("#hours").html())-parseInt($(this).attr("data-crh")));
            }
           let hours = parseInt($("#hours").html());
           $("#hoursIn").attr("value",$("#hours").html());
        });


    </script>
</body>

</html>