<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SSP Scheduler</title>
    <link rel="stylesheet" href="{% static "index.css" %}">
    <link rel="stylesheet" href="{% static "bootstrap.css" %}">
    <link rel="stylesheet" href="{% static "department.css" %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp"
    crossorigin="anonymous">

    <script type="text/javascript" src="{% static "jquery.js" %}"></script>

</head>
<body>


<nav class="navbar navbar-expand-md navbar-dark bg-black">
    <div class="container">
        <a href="/" class="navbar-brand">SSPScheduler</a>
    </div>
</nav>

<section id="choose_courses_section" class="bg-dark text-white text-center p-3">
    <div class="container">
        <h1 style="font-size: 1.6rem">Choose Your Courses</h1>
    </div>
</section>


    <div class="row justify-content-center">
        <div class="col-12 col-sm-10 col-md-8 col-lg-7 col-xl-5">
            <div id="container-nb">
                <div class="row">
                    <div class="col-12 text-right">
                        <p  id="crHours" style="display:inline;">Credit Hours : <span id="hours">0</span></p>
                    </div>
                </div>
                <div id="container-nb-form">
                    <div id="menuBar">
                        <div class="btn-group btn-block" id="menu-btns" data-toggle="buttons">
                            {% for term_num in term_numbers %}
                                {% if term_num == 1 %}
                                    <button class="btn btn-secondary" id="1st" onclick="this.blur();" data-term="1">1st Term</button>
                                {% elif term_num == 2 %}
                                    <button class="btn btn-secondary" id="2nd" onclick="this.blur();" data-term="2">2nd Term</button>
                                {% elif term_num == 3 %}
                                    <button class="btn btn-secondary" id="3rd" onclick="this.blur();" data-term="3">3rd Term</button>
                                {% elif term_num == 4 %}
                                    <button class="btn btn-secondary" id="4th" onclick="this.blur();" data-term="4">4th Term</button>
                                {% elif term_num == 5 %}
                                    <button class="btn btn-secondary" id="5th" onclick="this.blur();" data-term="5">5th Term</button>
                                {% elif term_num == 6 %}
                                    <button class="btn btn-secondary" id="6th" onclick="this.blur();" data-term="6">6th Term</button>
                                {% elif term_num == 7 %}
                                    <button class="btn btn-secondary" id="7th" onclick="this.blur();" data-term="7">7th Term</button>
                                {% elif term_num == 8 %}
                                    <button class="btn btn-secondary" id="8th" onclick="this.blur();" data-term="8">8th Term</button>
                                {% elif term_num == 9 %}
                                    <button class="btn btn-secondary" id="9th" onclick="this.blur();" data-term="9">9th Term</button>
                                {% elif term_num == 10 %}
                                    <button class="btn btn-secondary" id="10th" onclick="this.blur();" data-term="10">10th Term</button>
                                {% elif term_num == 11 %}
                                    <button class="btn btn-secondary" id="11th" onclick="this.blur();" data-term="11">Humanities</button>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>

                    <form action="/schedule/" method="post" >
                        {% csrf_token %}
                            <label for="hoursIn" style="display: none" style="display: none;"></label>
                            <input type="number" name="hoursTaken" value="0" id="hoursIn" style="display: none" >
                        <div  class="form-group">
                            <div class="row m-3">
                                <div class="col-12 justify-content-start mt-1" style="padding: 0.15rem;margin-left:-5px">
                                    <button class="btn btn-secondary btn-sm selectAllBtn" style="line-height: 1;display:none;">Select All</button>
                                </div>
                                <div id="options" class="col-12">
        {#                            <div class="form-check" style="" data-term="7">#}
        {#                                 <label style="" class="form-check-label">#}
        {#                                     <input data-crh="3" name="DSP implementation of communication systems" class="form-check-input position-static" type="checkbox" id="ASD ADSASDASD ASD AD AD AD ASD AD">#}
        {#                                     DSP implementation of communication systems (3)#}
        {#                                 </label>#}
        {#                             </div>#}
                                </div>
                            </div>
                            <div class="row justify-content-center m-3 justify">
                                <div class="col-8 col-md-4 col-lg-4">
                                    <span id="continue" class="d-inline-block" style="width:100%" tabindex="0" data-toggle="tooltip" title="You need 12 credit hours at least to continue">
                                    </span>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script>
        let options = $('#options');
        let continueBtn = $("#continue");

         {% for course in courses %}
             options.append("<div class=\"form-check\" style=\"display:none\" data-term=\""+ "{{ course.term }}"+"\">\n" +
                                 "<div class='row'>" +
                                    "<div class='col-9'>" +
                                    "<label style=\" text-overflow: ellipsis;\" class=\"form-check-label \">" +
                                        "<input data-crh=\""+ "{{ course.creditHours }}" +"\" name=\""+ "{{ course.name }}" +
                                            "\" class=\"form-check-input position-static\" type=\"checkbox\" id=\"" +
                                            "{{ course.name }}" + "\">\n" +
                                            "{{ course.name }}"+
                                    "</label>\n" +
                                    "</div>" +
                                    "<div class='col-1'>" +
                                        "<span class=\"badge badge-pill badge-secondary\">"+"{{ course.creditHours }}" +" hrs</span>"+
                                    "</div>" +
                                "</div>" +
                                "<hr style='padding:0;margin:0;'>"+
                            "</div>");
         {% endfor %}



        continueBtn.append("<button style='pointer-events:none;display:none' id=\"continueBtn\" type=\"submit\" class=\"btn btn-primary btn-block\" name=\"submit\"" +
            " value=\"selection\"" +
            " disabled>Continue</button>");


        $("#menu-btns .btn").click(function () {
            let termNum = $(this).attr("data-term");
            $("#menu-btns .btn").removeClass("active");
            let options = $('#options');
            options.children("div").hide();
            options.children("div[data-term='"+termNum+"']").show();
            if(options.children("div[data-term='"+termNum+"']").length > 0){
                $(".selectAllBtn").show();
                $("#continueBtn").show();
                if($("#options").children("div:visible").children("div").children("div").children("label").children("input:checked").length
                                >= $("#options").children("div:visible").children("div").children("div").children("label").children("input").length-2 ){
                    $(".selectAllBtn").text("Deselect All");
                }else{
                    $(".selectAllBtn").text("Select All");
                }
            }else{
                $(".selectAllBtn").hide();
                $("#continueBtn").hide();
            }


        });



        $(".selectAllBtn").click(function (e) {
            e.preventDefault();
            if($(this).text().includes("Deselect")) {
                $("#options").children("div:visible").children("div").children("div").children("label").children("input:checked").click();
                $(this).text("Select All");
            }else{
                $("#options").children("div:visible").children("div").children("div").children("label").children("input:not(:checked)").click();
                $(this).text("Deselect All");
            }
        });

        $("#menu-btns .btn").first().click();



        $("input:checkbox").change(function () {
            let courseHours = parseInt($(this).attr("data-crh"));
            let currentValue = parseInt($("#hours").html());
            let newValue;
            if(this.checked){
                newValue = parseInt($("#hours").html())+parseInt($(this).attr("data-crh"));
               if(newValue <= 21 ){
                   $("#hours").html(newValue);
                   if(newValue >= 12){
                       $("#continueBtn").prop('disabled', false);
                       $("#continue").attr("data-original-title","");
                       $("#continueBtn").css("pointer-events","");
                   }
               }else {
                   $(this).prop('checked', false);
                   if(!$("#inner-message").length){
                       $("#container-nb").after("<div id=\"message\" style='z-index:999'>\n" +
                           "    <div id=\"inner-message\" class=\" alert alert-danger alert-dismissible fade show\" role=\"alert\">\n" +
                           "      You can't have more than 21 hours.\n" +
                           {#"      <button type=\"button\" class=\"close\" data-dismiss=\"alert\" aria-label=\"Close\">\n" +#}
                           {#"        <span aria-hidden=\"true\">&times;</span>\n" +#}
                           {#"      </button>\n" +#}
                           "    </div>\n" +
                           "</div>");
                       $(".alert").fadeTo(4000, 500).slideUp(500, function(){
                            $(".alert").slideUp(500);$("#message").remove();
                        });
                    }
                   return
               }
            }
            else{
                newValue = parseInt($("#hours").html())-parseInt($(this).attr("data-crh"));
                if(newValue < 12){
                    $("#continueBtn").prop('disabled', true);
                    $("#continue").attr("data-original-title","You need 12 credit hours at least to continue");
                    $("#continueBtn").css("pointer-events","none");
                }
                $("#hours").html(parseInt($("#hours").html())-parseInt($(this).attr("data-crh")));
            }
           let hours = parseInt($("#hours").html());
           $("#hoursIn").attr("value",$("#hours").html());
        });

        $(".form-check").on('click',function (e) {
            let $tgt = $(e.target);
            let checkBox = $(this).children("div").children().first().children("label").children("input");
            if (!$tgt.is(":checkbox") && !$tgt.is("label") ) {
                if (checkBox.prop("checked") === true) {
                    checkBox.prop("checked", false);
                    checkBox.trigger('change')
                } else {
                    checkBox.prop("checked", true);
                    checkBox.trigger('change')
                }
            }
        });
        $(function () {
          $('[data-toggle="tooltip"]').tooltip()
        });


    </script>
</body>

</html>