<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SSP Scheduler</title>
    <link rel="stylesheet" href="{% static "bootstrap.css" %}">
    <link rel="stylesheet" href="{% static "department.css" %}">
    <link rel="stylesheet" href="{% static "schedule.css" %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="https://files.codepedia.info/files/uploads/iScripts/html2canvas.js"></script>

</head>
<body>
    <div id="page-container">
        <div id="content-wrap">
            <nav class="navbar navbar-expand-md navbar-dark bg-black mb-4">
                <div class="container">
                    <a href="/" class="navbar-brand">SSPScheduler</a>
                    <a href="/courses/" class="nav-link text-white">
                        <i class="fa fa-arrow-left"></i> &nbsp;Courses</a>
                </div>

            </nav>
            <div class="container">
                <form action="/schedule/" method="post" id="main-form" >
                    {% csrf_token %}
                    <div class="row">
                        {% for course in courses %}
                            <div class="col-md-4 col-sm-6 col-12">
                              <div class="card mb-3">
                                <div class="card-header text-center">
                                  <h5>{{ course.name }}</h5>
                                </div>
                                <div class="card-body">
                                  <div class="form-group">
                                    <label for="{{ course.name }}">Instructor</label>
                                    <select class="custom-select" id="{{ course.name }}" name="{{ course.name }}">
                                        <option selected value="Any Instructor">Any Instructor</option>
                                        {% for inst in course.instructors %}#}
                                            <option value="{{ inst.name }}">{{ inst.name }}</option>
                                        {% endfor %}
                                    </select>
                                  </div>
                                  <div class="form-group">
                                    <label for="{{ course.name }}Pr">Priority</label>
                                    <select class="custom-select" id="{{ course.name }}Pr" name="{{ course.name }}Pr">
                                        <option selected value="0">I don't care</option>
                                        <option value="1">Preferred Instructor-2</option>
                                        <option value="10">Preferred Instructor-1</option>
                                        <option value="50">Must-have instructor</option>
                                    </select>
                                  </div>
                                </div>
                              </div>
                            </div>
                        {% endfor %}


                    </div>
                    <div class="row justify-content-center">
                        <div class="col-4 ">
                            <button id="generateBtn" type="submit" class="btn btn-primary btn-block" name="submit" value="generation">Generate</button>
                        </div>
                    </div>
                </form>



            </div>
        </div>
        <footer id="main-footer">
                <section class="bg-black p-4 mt-3">
                </section>
        </footer>

    </div>
<style>
    td{
        width:100px;
        height:50pt;
        font-size: 13px;
        font-family: "Roboto", "Lucida Grande", "DejaVu Sans", "Bitstream Vera Sans", Verdana, Arial, sans-serif;
    }
    .course-label{
        width: 200px;
    }
    .input-group{
        margin: 10px;
    }
    #generateBtn{
        margin:20px;
    }
    .sliders {
        -webkit-appearance: none;
        width: 100%;
        height: 15px;
        border-radius: 5px;
        background: #d3d3d3;
        outline: none;
        opacity: 0.7;
        -webkit-transition: .2s;
        transition: opacity .2s;
    }

    .sliders::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        width: 25px;
        height: 25px;
        border-radius: 50%;
        background: #007bff;
        cursor: pointer;
    }

    .sliders::-moz-range-thumb {
        width: 25px;
        height: 25px;
        border-radius: 50%;
        background: #4CAF50;
        cursor: pointer;
    }
    .mb-3{
        margin:20px;
    }
</style>
<script
			  src="https://code.jquery.com/jquery-3.4.1.min.js"
			  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
			  crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
{#<script src="{% static "html2canvas.js" %}" type="text/javascript"></script>#}
<script src=" {% static 'schedule.js' %} " ></script>
<script>

    $(document).ready(function () {
        $("#main-form").submit(function (e) {
            e.preventDefault();
            $("#all-schedules").remove();
            $("#generateBtn").attr("disabled", true);
            $("#generateBtn").html(
                "<span class=\"spinner-border spinner-border-sm\" role=\"status\" aria-hidden=\"true\"></span>\n");
            let form = $(this);

            $.ajax({
                type: "POST",
                url: '/schedule/generate',
                data: form.serialize(),
                dataType: 'json',
                success: function (data) {
                    console.log("SUCCESS");
                    $("#main-form").after(data.text);
                    $(".btn-download").on('click', function (evt) {
                        element = $(".show").first();
                        console.log('here');
                        html2canvas(document.body).then(function(canvas){
                            getCanvas = canvas
                         });
                        // Now browser starts downloading it instead of just showing it
                        var imgageData = getCanvas.toDataURL("image/png");
                        var newData = imgageData.replace(/^data:image\/png/, "data:application/octet-stream");
                        $(".show .btn-download").attr("download", element.attr('id')+".png").attr("href", newData);
                    });
                    $('.port-item').click( async function(e) {
                        $('.collapse').collapse('hide');
                        $('.active').removeClass("active");
                        $(".port-item").not(this).attr("disabled", true);
                        await sleep(250);
                        $(".port-item").not(this).attr("disabled", false);
                        $('html, body').animate({
                            scrollTop: $("#main-footer").offset().top
                        }, 800);
                    });
                    $("#generateBtn").html("Generate");
                    $("#generateBtn").attr("disabled", false);
                    let check = true;
                    let port_items = document.getElementsByClassName('port-item');
                    for (let i = 0; i < port_items.length; i++){
                        if(port_items[i] in document.getElementsByClassName('active')){
                            check = false;
                            break;
                        }
                    }
                    if(check){
                        $('#best').click();
                        check = false;
                    }
                    $('.btn-download').click();
                    $('.btn-download').click();
                },
                error: function (data) {
                    console.log('ERROR');
                },
            });

        });
        {#let getCanvas; // global variable#}
        var element; // global variable
        var getCanvas; // global variable
        var firstClick = false;
        $("#btn-download").on('click', function (evt) {
            element = $(".show").first();
            html2canvas(element, {
             onrendered: function (canvas) {
                    getCanvas = canvas;
                 }
             });
            var imgageData = getCanvas.toDataURL("image/png");
            // Now browser starts downloading it instead of just showing it
            var newData = imgageData.replace(/^data:image\/png/, "data:application/octet-stream");
            $("#btn-download").attr("download", element.attr('id')+".png").attr("href", newData);
        });

        function sleep(ms) {
          return new Promise(resolve => setTimeout(resolve, ms));
        }

    });
</script>
</body>
</html>